In [33]:
import pandas as pd
import numpy as np

In [34]:
dic2 = {
    'isim': ['Anil'],
    'soyisim':['Ergan', 'Ozkan']
}

In [39]:
df = pd.DataFrame.from_dict(dic2, orient = 'index').transpose()
df['isim'] = df['isim'][0]
df

   isim soyisim
0  Anil   Ergan
1  Anil   Ozkan

In [74]:
dic = {
    'col1': [5,3,7],
    'col2':[0,5,8],
    'col3':[8,7,2]
}

df = pd.DataFrame.from_dict(dic, orient='index').transpose()
df2 = pd.DataFrame(dic)
df2

   col1  col2  col3
0     5     0     8
1     3     5     7
2     7     8     2

In [71]:
dff = df.iloc[:,1].sort_values().reset_index().rename(columns={'index': 'org_index'})
indeX = dff.loc[dff['org_index'] == 2].index[0]
df_u = dff.iloc[:indeX, :]

In [72]:
df_u['column_X'] = 1

C:\Users\anerg\AppData\Local\Temp\ipykernel_37276\804395290.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_u['column_X'] = 1

In [73]:
df_u

   org_index  col2  column_X
0          0     0         1
1          1     5         1

In [75]:
df_5 = pd.DataFrame(columns=['col1', 'col2'])

In [76]:
dic = {
    'col1':[2,3],
    'col2':[5,6]
}

df_5_1 = pd.DataFrame(dic)

In [77]:
df_5_1

   col1  col2
0     2     5
1     3     6

In [130]:
df_5_1

   col1  col2
0     2     5
1     3     6

In [110]:
serie_add = pd.Series([10,10])
df_5_1.add(serie_add, axis='index')

   col1  col2
0    12    15
1    13    16

In [108]:
df_5_1 + serie_add

   col1  col2   0   1
0   NaN   NaN NaN NaN
1   NaN   NaN NaN NaN

In [79]:
pd.concat([df_5, df_5_1], axis=0)

  col1 col2
0    2    5
1    3    6

In [128]:
u_seri = pd.Series([20,30,40])
u_seri.idxmin()

0

In [124]:
df_5_1
new_data = pd.DataFrame({
    'col1': [str(u_seri.tolist())],
    'col2': [3]
})
new_data

           col1  col2
0  [20, 30, 40]     3

In [91]:
dic = {
    'smaller_row_indexes': None,
    'smaller_row_values': None,
    'column_name': 'hey'                
                }

SyntaxError: invalid syntax (901685835.py, line 2)

In [95]:
df = pd.DataFrame(data=[dic])
df

  smaller_row_indexes smaller_row_values column_name
0                None               None         hey

In [96]:
df.columns = ['A', 'B', 'C']
df

      A     B    C
0  None  None  hey

In [102]:
the_metric = pd.Series([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])
the_metric[3] = 5

0     0
1     0
2     0
3     5
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

In [127]:
for i in range(10):
    if i == 10-1:
        print('hey! i=10')
    else:
        print(f'i = {i}')

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
hey! i=10

In [132]:
import pandas as pd

# Örnek bir DataFrame oluşturalım
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)
print(df)
# DataFrame'i tablo olarak ekrana bastıralım
print(df.to_string(index=False))

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
 A  B  C
 1  4  7
 2  5  8
 3  6  9